
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title{
    font-size: 5em;
    animation: anime 1.5s;
}

@keyframes anime {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
    
}

.containerInput{
    background-color: gray;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    box-shadow: 1px 3px 3px 0px black ;
}

.containerInput input{
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    color: antiquewhite;
    outline: none;
}
.containerInput input::placeholder{
    color: white;
}

.buttonSearch{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}
.buttonSearch:hover{
    transform: scale(1.5);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.256);
    width: 550px;
    border-radius: 8px;
    gap: 10px;

    font-size: 1.5em;
}

@media (max-width: 650px){
    .title{
        font-size: 60px;
    }
    
}



